<button type="button" class="btn btn-light" [disabled]="locked" *ngIf="!value">{{ value }}</button>
<button type="button" class="btn btn-success" [disabled]="locked" *ngIf="value == 'X'">{{ value }}</button>
<button type="button" class="btn btn-info" [disabled]="locked" *ngIf="value == 'O'">{{ value }}</button>
