<div class="container">
  <div class="d-flex justify-content-center mt-2 mb-2">
    <form (ngSubmit)="onSubmit()" [formGroup]="gameForm">
      <h1>Tic-Tac-Toe</h1>
      <div class="d-flex flex-row mt-2">
        <h3>X:</h3>
        <div class="form-group mb-2 mb-2">
          <!--    <label for="username1">Player1</label>-->
          <input
            type="text"
            class="form-control"
            id="username1"
            placeholder="{{player1Name}}"
            formControlName="player1Name"
            name="player1"
            required
          >
        </div>
        <input
          type="radio"
          class="form-check-input"
          (click)="onSelectionChange(button1)"
          formControlName="turn"
          [value]=button1
          checked="checked"
        />
        <h3 *ngIf="isXfirst" class="ml-2">Start first</h3>
      </div>
      <div class="d-flex flex-row mt-2 mb-2">
        <h3>O:</h3>
        <div class="form-group mb-2 mb-2">
          <!--    <label for="username2">Player2</label>-->
          <input
            type="text"
            class="form-control"
            id="username2"
            placeholder="{{player2Name}}"
            formControlName="player2Name"
            name="player2"
            required
          >
        </div>
        <input
          type="radio"
          class="form-check-input"
          formControlName="turn"
          (click)="onSelectionChange(button2)"
          [value]=button2
        />
        <h3 *ngIf="!isXfirst" class="ml-2">Start first</h3>
      </div>
      <div class="d-flex justify-content-center mt-2 mb-2">
        <div class="form-group mb-2">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!gameForm.valid">Enter Game
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
