
.square-container {
  flex: 0 0 325;
}

app-square {
  border: 1px gray solid;
  height: 200px;
}
main {
  display: grid;
  grid-template-columns:  200px 200px 200px;
  grid-gap: 5px;
  width: 600px;
  margin: 0 auto;
}

#player {
  font-weight: bold;
  font-size: 30px;
  margin: 10px 0 20px 0;
}

#start-new {
  margin-bottom: 20px;
  margin-right: 20px;
}

#leave-game {
  margin-bottom: 20px;
  margin-left: 20px;
}
