<div class="row">
  <div class="col-md-8">
    <div id="player" class="d-flex justify-content-center">Current Player: {{ player }} {{this.currentPlayer}}</div>
    <div *ngIf="winner">
      <h3 class="d-flex justify-content-center">{{ winner }} won the game! </h3>
    </div>
    <main *ngIf="!locked" style="text-align: center; width: 600px; grid-template-columns:  200px 200px 200px;">
        <app-square *ngFor="let val of squares; let i = index" [value]="val" (click)="makeMove(i)">
        </app-square>
    </main>
    <div class="d-flex justify-content-center">
<!--      <button class="btn btn-danger d-flex justify-content-center order-1 mt-3 " id="start-new" (click)="newGame()">Start new Game</button>-->
      <button class="btn btn-danger d-flex justify-content-center order-2 mt-3 " id="leave-game" (click)="leaveGame()">Leave Game</button>
    </div>

    <main *ngIf="locked" style="text-align: center; width: 600px; grid-template-columns:  200px 200px 200px;">
      <app-square *ngFor="let val of temporalSquare; let i = index" [value]="val" >
      </app-square>
    </main>
  </div>

  <div class="col-md-4">
    <app-logs></app-logs>
  </div>
</div>
